<style>
  @media (min-width: 1000px) {
    .site-header__search-wrap {
      margin-right: 0 !important;
    }
  }
</style>
<div class="w-100 border-top border-custom"></div>
<div class="{{setWidth}} header-top__wrap py-lg-2 d-flex align-items-center w-100">
    <div class="d-flex d-lg-none toggle-menu-mobile align-items-center">
        {%- render 'button-toggle-menu-mobile' -%}
        <span class="modal__toggle-search-mobile" aria-hidden="true" focusable="false" role="presentation">
          {% render 'icon-search' %}
        </span>
      </div>
    <div class="col_bottom__left d-flex align-items-center">
        {%- if section.settings.enable_contact_header -%}
          <div class="d-flex align-items-center mr-4">
            {%- if logoLeftNavigation != blank -%}
            <img
              class="image-content__image mr-2"
              src="{{ logoLeftNavigation | image_url: width: 30 }}"
              alt="{{ logoLeftNavigation.alt | escape }}"
              loading="lazy"
              width="{{ logoLeftNavigation.width }}"
              height="{{ logoLeftNavigation.height }}">
          {%- endif -%}
            <div class="d-flex flex-column">
              {%- if section.settings.text_contact_header != blank -%}
              <span class="title-contact__header lh-h1 mb-1 small">{{ section.settings.text_contact_header }}</span>
              {%- endif -%}
              {%- if section.settings.text_phone_header != blank -%}
              <span class="font-weight-bold phone__header lh-h1">{{ section.settings.text_phone_header }}</span>
              {%- endif -%}
            </div>
          
          </div>
        {%- endif -%}
        <div class="d-none d-lg-flex align-items-center">
            {%- liquid
              assign enable_image = section.settings.enable_image
              assign enable_name = section.settings.enable_name 
              if section.settings.e_hd_currency and localization.available_countries.size > 1
                render 'localization' id: 'HeaderCountryForm', enable_image: enable_image, header-left : 'header-left' , enable_name: enable_name
              endif
            if section.settings.enable_language_selector and localization.available_languages.size > 1 
                render 'localization-language', id: 'HeaderLanguageForm', enable_name: enable_name
              endif
            -%}
          </div>
    </div>
    <div class="d-flex align-items-center justify-content-center col-logo ">
        <div class="pl-lg-0 ml-lg-0">
        {%- render 'site-logo' -%}
        </div>
    </div>
    <div class="header-bottom__right col-bottom__right">
        {%- render 'header-search', link_list_search: section.settings.link_list_search, e_search: section.settings.sidebar_search -%}
        {%- render 'header-login' -%}
        {%- render 'block-wishlist' -%}
        {%- render 'block-cart' -%}
    </div>
</div>
<div class="w-100 border-top border-custom"></div>
<div class="{{setWidth}} d-none d-lg-flex col-menu">
{%- liquid
    assign main_linklist = section.settings.main_linklist
    assign blocks = section.blocks
-%}
{%- render 'block-menu', main_linklist: main_linklist, blocks: blocks -%}
</div>
  