<div id="NavDrawer" class="drawer drawer--left">
  <div class="drawer__inner">
    <div class="modal-header js-drawer-close py-4">
        <button type="button" class="close" ></button>
    </div>
    {% comment %} <form action="/search" method="get" class="drawer__search mt-3 form-group" role="search">
      <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}" autocomplete="off" class="drawer__search-input form-control">
      <button type="submit" class="text-link drawer__search-submit">
        {%- render 'icon-search' -%}
        <span class="icon__fallback-text">{{ 'general.search.submit' | t }}
        </span>
      </button>
    </form> {% endcomment %}
    <ul class="drawer__nav">
      {%- for link in linklists[settings.main_linklist].links -%}
        {%- assign child_list_handle = link.title | handleize -%}
        {%- if link.links != blank -%}
          <li class="drawer__nav-item">
            <div class="drawer__nav-has-sublist">
              <a href="{{ link.url }}" class="drawer__nav-link drawer__nav-link--top-level drawer__nav-link--split" id="DrawerLabel-{{ child_list_handle }}" {% if link.active %} aria-current="page"{% endif %}>
                {%- render 'processMenuTitle' , itemName: link.title -%}
                {%- render 'processMenuLabel' , itemName: link.title -%}
              </a>
              <button data-toggle="collapse" data-target="#DrawerLinklist-{{ child_list_handle }}" for="DrawerLinklist-{{ child_list_handle }}" type="button" aria-controls="DrawerLinklist-{{ child_list_handle }}" class="text-link drawer__nav-toggle-btn collapsed" aria-label="{%- render 'processMenuTitle' , itemName: link.title -%}" aria-expanded="true">
                <span class="drawer__nav-toggle--open">
                  {%- render 'icon-plus' -%}
                </span>
                <span class="drawer__nav-toggle--close">
                  {%- render 'icon-minus' -%}
                </span>
              </button>
            </div>
            <div class="collapse meganav meganav--drawer" id="DrawerLinklist-{{ child_list_handle }}" aria-labelledby="DrawerLabel-{{ child_list_handle }}" role="navigation">
              <ul class="meganav__nav">
                {%- render 'drawer-nav', link: link -%}
              </ul>
            </div>
          </li>
        {%- else -%}
          <li class="drawer__nav-item">
            <a href="{{ link.url }}" class="drawer__nav-link drawer__nav-link--top-level" {% if link.active %} aria-current="page"{% endif %}>
              {%- render 'processMenuTitle' , itemName: link.title -%}
              {%- render 'processMenuLabel' , itemName: link.title -%}
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
      {%- if settings.login_enable -%}
        {%- if shop.customer_accounts_optional or shop.customer_accounts_enabled -%}
          {%- if customer -%}
            <li class="drawer__nav-item drawer-nav__item--secondary">
              <a href="/account" class="drawer__nav-link drawer__nav-link--top-level font-weight-normal">
                {{ 'layout.customer.account' | t }}
              </a>
            </li>
            <li class="drawer__nav-item drawer-nav__item--secondary">
              <a href="/account/logout" class="drawer__nav-link drawer__nav-link--top-level font-weight-normal">
                {{ 'layout.customer.log_out' | t }}
              </a>
            </li>
          {%- else -%}
            <li class="drawer__nav-item drawer-nav__item--secondary d-flex align-items-center">
              <a href="/account" class="drawer__nav-link drawer__nav-link--top-level font-weight-normal pr-1">
                <span class="account-text">{{ 'customer.login.sign_in' | t }}
                </span>
              </a> 
              <span class="drawer__nav-link--top-level">/</span> 
              <a href="/account/register" class="drawer__nav-link drawer__nav-link--top-level font-weight-normal pl-1">
                {{ 'customer.register.title' | t }}
              </a>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
      <li class="drawer__nav-item drawer-nav__item--secondary py-3 pl-2 d-flex">
        {%- if settings.currency_enable -%}
          <span class="pr-4">
            {% render 'localization' id: 'HeaderCountryFormMobile' , header-left : 'header-left' %}
          </span>
        {%- endif -%}
        {%- if settings.lang_enable -%}
        {% render 'localization-language', id: 'HeaderLanguageFormMobile' %}
      {%- endif -%}
      </li>
    </ul>
  </div>
</div>