<!-- productOption.liquid -->

{%- if product_selector == 'radio' -%}
  {%- liquid
    assign isColor = false
    assign optionName = option.name | handleize
    assign option_index = loop
  -%}
{%- if optionName contains 'colo' -%}
{%- assign isColor = true -%}
{%- endif -%}
<fieldset class="single-option-radio {% if isColor %} single-color {{ size_color }} {% if color_circle %}roud-color{% endif %} {% endif %} "
          name="{{ option.name | handleize }}"
          id="ProductSelect-option-{{ forloop.index0 }}">
  
  {%- for value in option.values -%}
    {%- liquid
      assign variant_label_state = true 
      if product.options.size == 1 
        unless product.variants[forloop.index0].available 
        assign variant_label_state = false 
        endunless 
      endif 
      for variant in product.variants
        assign vOption = 'option' | append: option_index 
        if value == variant[vOption] 
        assign currenVariant = variant 
        break 
        endif 
      endfor 
      assign hasImage = false 
      if isColor and currenVariant.image 
      assign hasImage = true 
      endif 
    -%}

  <input type="radio"
        {% if option.selected_value == value -%} checked="checked"{%- endif %}
        
         value="{{ value | escape }}"
         data-index="option{{ option_index }}"
         name="{{ option.name | handleize }}"
         class="single-option-selector-{{ section.id }} single-option-selector__radio {% unless variant_label_state %} disabled {% endunless %}"
         id="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
    <label {% if hasImage %} title="{{ value | escape }}" 
    {%- if sw_color_product -%} 
    class="st-color-{{ value | escape | handle }}"
    style="background-color:{{ value | escape | handle }};"
    {% else %} 
    style="background-image:url({{ currenVariant.image.src | image_url: width: 100 }})" 
    {% endif %}{% endif %}
          for="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>
      {%- unless hasImage -%}{{ value | escape }}{%- endunless -%}
    </label>
  {%- endfor -%}
</fieldset>
{%- else -%}
<select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
        id="SingleOptionSelector-{{ firstloop }}"
        data-name="{{ option.name }}"
        data-index="option{{ loop }}">
  {%- for value in option.values -%}
  <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
  {%- endfor -%}
</select>
{%- endif -%}
