<!-- section-heading.liquid - Apply for all section title -->
{%- if settings.sectionheading == 'heading-1' -%}
  {%- if section.settings.title_top != blank -%}
    <div
      class="subtop text-{{ section.settings.align-heading }} text-top {% if section.settings.title != blank %} mb-2 {% else %} mb-4 {% endif %}"
      data-aos="{{ section.settings.animation }}"
      data-aos-duration="300">{{ section.settings.title_top }}</div>
  {%- endif -%}
  {%- if section.settings.title != blank -%}
    <h3
      class="section-title-2 text-{{ section.settings.align-heading }}  {% if section.settings.des != blank %} mb-2 {% else %} mb-5 {% endif %}"
      data-aos="{{ section.settings.animation }}"
      data-aos-duration="500">
      <span>{{ section.settings.title }}</span>
    </h3>

  {%- endif -%}
  {%- if section.settings.des != blank -%}
    <div
      class="font-family-2 mb-5 txt-body-70 text-{{ section.settings.align-heading }}"
      data-aos="{{ section.settings.animation }}"
      data-aos-duration="800">{{ section.settings.des }}</div>
  {%- endif -%}
{%- elsif settings.sectionheading == 'heading-2' -%}
  {%- if section.settings.title_top != blank -%}
    <div
      class="subtop text-center text-top"
      data-aos="{{ section.settings.animation }}"
      data-aos-duration="300">{{ section.settings.title_top }}</div>
  {%- endif -%}
  {%- if section.settings.title != blank -%}
    <h3 class="section-title-2 {% if section.settings.des != blank %} mb-2 {% else %} mb-5 {% endif %}">
      <span>{{ section.settings.title }}</span>
    </h3>
  {%- endif -%}
  {%- if section.settings.des != blank -%}
    <p class="font-family-2 mb-5 txt-body-70">{{ section.settings.des }}</p>
  {%- endif -%}
{%- elsif settings.sectionheading == 'heading-3' -%}
  {%- if section.settings.title_top != blank -%}
    <div
      class="subtop text-{{ section.settings.align-heading }} text-top {% if section.settings.title != blank %} mb-2 {% else %} mb-4 {% endif %}"
      data-aos="{{ section.settings.animation }}"
      data-aos-duration="300">{{ section.settings.title_top }}</div>
  {%- endif -%}
  {%- if section.settings.title != blank -%}
    <h3 class="section-title-1 text-{{ section.settings.align-heading }}  {% if section.settings.des != blank %} mb-2 {% else %} mb-5 {% endif %}"data-aos="{{ section.settings.animation }}"data-aos-duration="500">
      <span>{{ section.settings.title }}</span>
    </h3>
  {%- endif -%}
  {%- if section.settings.des != blank -%}
    <div
      class="font-family-2 mb-4 txt-body-70 text-{{ section.settings.align-heading }}"
      data-aos="{{ section.settings.animation }}"
      data-aos-duration="800">{{ section.settings.des }}</div>
  {%- endif -%}
{%- endif -%}