<!-- featured-blog-posts.liquid -->
{%- liquid
    assign enable_btn_blog = section.settings.enable_btn_blog
    assign enable_btn_line = section.settings.enable_btn_line
    assign enable_author = section.settings.enable_author
    assign enable_date = section.settings.enable_date
    assign image_size = section.settings.height_adapt
    assign enable_tag = section.settings.enable_tag
    assign enable_comment = section.settings.enable_comment
    assign enable_short = section.settings.enable_short
    assign clsection = section.settings.clsection
-%}

{%- render 'style-section' -%}
{%- style -%}
  .customstyle{{ section.id }}{
    {% if clsection != 'rgba(0,0,0,0)' %}
    --g-font-color-subtop: {{ clsection }};
    --g-color-heading : {{ clsection }};
    --color-body-text-rgb: {{ clsection.red }}, {{ clsection.green }}, {{ clsection.blue }};
    --g-input-border:  {{ clsection }};
    {% endif %}
  }
  .ftblogpost-slider .meta:not(:last-child){
    border-right:1px solid var(--g-input-border);
  }
  
  .ftblogpost-slider .article__photo-wrapper{
    overflow:hidden;
    }
    .ftblogpost-slider .article__photo-wrapper img{
    height:100%;
    object-fit:cover;
    }
    .ftblogpost-slider .h750px{
        height:550px;
    }
    .ftblogpost-slider .h650px{
        height:450px;
    }
    .ftblogpost-slider .h550px{
        height:300px;
    }
    .ftblogpost-slider .h450px{
        height:200px;
    }
    .ftblogpost-left{
        padding:2rem 1.2rem;
    }
    .ftblogpost-left .blog__meta span{
      line-height:1.5;
    }
  @media screen and (min-width: 750px) {
    
    .ftblogpost-slider .h750px{
        height:750px;
    }
    .ftblogpost-slider .h650px{
        height:650px;
    }
    .ftblogpost-slider .h550px{
        height:550px;
    }
    .ftblogpost-slider .h450px{
        height:450px;
    }
    .ftblogpost-left{
        padding:0 7rem;
    }
  }
{%- endstyle -%}

<div class="customstyle{{ section.id }}  section-{{ section.id }}-padding" data-aos="{{ section.settings.animation }}">
        <div class="ftblogpost-slider"  id="ftblogpost-{{ section.id }}" 
            data-rows="1"
            data-slidesToShow="1"
            data-slidestoscroll="1"
            data-arrows="true"
            data-dots="false" 
            data-draggable="true" 
            data-infinite="true" 
            data-section-id="{{ section.id }}" 
            data-section-type="slickCarousels"
        >
        {%- for block in section.blocks -%}
            {%- liquid
                assign article = block.settings.article
            -%}
            <div class="ftblogpost__slide-wrapper carousel__slide-wrapper--{{ block.id }}" {{ block.shopify_attributes }}>
                <div class="ftblogpost__slide">
                <div class="row m-0">
                    <div class="col-lg-6 col-12 px-0 d-flex align-items-center">
                        <div class="ftblogpost-left">
                            {%- if block.settings.subheading != blank -%}
                                <span class="subtop">
                                    {{ block.settings.subheading }}
                                </span>
                            {%- endif -%}
                            <h3 class="mt-4 mb-lg-5 mb-4">{{ article.title | default: " Name Article " }}</h3> 
                            <div class="blog__meta d-flex align-items-center flex-wrap mb-3">
                                {%- if enable_date -%}
                                    <span class="pr-3 meta mr-3 txt-body-70 mb-2 mb-lg-0">
                                        {{ article.published_at | time_tag : '%B %d, %Y' | default: "Date" }}
                                    </span>  
                                {%- endif -%}
                                
                                {%- if enable_author -%}
                                    <span class="blog_user pr-3 meta mr-3 txt-body-70 mb-2 mb-lg-0">
                                        {{ article.author | default: "Author" }}
                                    </span> 
                                {%- endif -%}
                                {%- if enable_comment and article.comments_count -%}
                                    <div class="blog_comment align-items-center d-flex txt-body-70 meta mb-2 mb-lg-0">
                                        <svg fill="none" focusable="false" width="18" height="17" class="icon-comment mr-2" viewBox="0 0 18 17">
                                        <path d="M5 5.5H13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M6 8.5H12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M13 13V16L9 13H4C3 13 1 12 1 10V4C1 2 3 1 5 1H13C15 1 17 2 17 4V10C17 12 14.3333 12.8333 13 13Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                                        
                                    </div>
                                {%- endif -%}
                                
                            </div> 
                            
                            {%- if enable_short -%}
                                <div class="mt-2">
                                {%- if article.excerpt.size > 0 -%}
                                    {{ article.excerpt }}
                                {%- else -%}
                                    <p class="txt-body-80">{{ article.content | strip_html | truncatewords: 30 }}</p>
                                {%- endif -%} 
                                </div>
                            {%- endif -%}       
                            {%- if enable_tag and article.tags.size > 0 -%}
                                <div class="d-flex align-items-center mt-3 txt-body-80">
                                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20"><path d="M80 136C80 122.7 90.75 112 104 112C117.3 112 128 122.7 128 136C128 149.3 117.3 160 104 160C90.75 160 80 149.3 80 136zM204.1 32C216.8 32 229.1 37.06 238.1 46.06L410.7 218.7C435.7 243.7 435.7 284.3 410.7 309.3L277.3 442.7C252.3 467.7 211.7 467.7 186.7 442.7L14.06 270.1C5.057 261.1 0 248.8 0 236.1V80C0 53.49 21.49 32 48 32H204.1zM36.69 247.4L209.4 420.1C221.9 432.6 242.1 432.6 254.6 420.1L388.1 286.6C400.6 274.1 400.6 253.9 388.1 241.4L215.4 68.69C212.4 65.69 208.4 64 204.1 64H48C39.16 64 32 71.16 32 80V236.1C32 240.4 33.69 244.4 36.69 247.4V247.4zM308.4 36.95C314.5 30.56 324.7 30.33 331.1 36.43L472.4 171.5C525.1 221.9 525.1 306.1 472.4 356.5L347.8 475.6C341.4 481.7 331.3 481.4 325.2 475.1C319.1 468.7 319.3 458.5 325.7 452.4L450.3 333.4C489.8 295.6 489.8 232.4 450.3 194.6L308.9 59.57C302.6 53.46 302.3 43.34 308.4 36.95V36.95z"></path></svg>
                                {%- for tag in article.tags limit: 3 -%}
                                <span class="pr-2 mr-2 d-inline-block ">
                                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="button">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}
                                </span>
                                {%- endfor -%}
                            </div>
                              {%- endif -%}   
                            {%- if enable_btn_blog -%}
                                <a class="btn mt-5 {% if enable_btn_line %} btn-underline {% else %} btn-theme btn-sm {% endif %} gradient-theme" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} <i class="ml-1 small icon-arrow-right"></i></a>  
                                {%- endif -%}   
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 px-0">
                        <div class="article__photo-container">
                        <div class="article__photo-wrapper h{{ image_size }}px" >
                            {%- liquid
                                assign image = block.settings.image
                                assign img_urla = article.image | image_url: width: 1 | replace: 'width=1', 'width={width}'
                                assign img_url = image | image_url: width: 1 | replace: 'width=1', 'width={width}'
                            -%}

                            {%- if image != blank -%}
                                <img class="lazyload"
                                    src="{{ image | image_url : width: 1, height: 1 }}"
                                    data-src="{{ img_url }}"
                                    data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                    data-aspectratio="{{ image.aspect_ratio }}"
                                    data-sizes="auto"
                                    alt="{{ article.title | escape }}"
                                    loading="lazy"
                                    width="{{ image.width }}"
                                    height="{{ image.height }}" >
                            {%- elsif article != blank  -%}
                                <img class="lazyload"
                                    src="{{ article.image | image_url: width: 1, height: 1 }}"
                                    data-src="{{ img_urla }}"
                                    data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                    data-aspectratio="{{ article.image.aspect_ratio }}"
                                    data-sizes="auto"
                                    alt="{{ article.title | escape }}"
                                    loading="lazy"
                                    width="{{ article.image.width }}"
                                    height="{{ article.image.height }}" >
                            {%- else -%}
                                <div class="placeholder-background">
                                    {%- capture current -%}{%- cycle 1, 2 -%}{%- endcapture -%}
                                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                </div>
                            {%- endif -%}
                            
                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {%- endfor -%}
    </div> 
  
</div>
{% schema %}
{
  "name": "Featured blog posts",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Feft"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "header",
      "content": "Blog Post"
    },
    {
      "type": "select",
      "id": "height_adapt",
      "label": "Height",
      "default": "750",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to first image"
        },
        {
          "value": "450",
          "label": "450px"
        },
        {
          "value": "550",
          "label": "550px"
        },
        {
          "value": "650",
          "label": "650px"
        },
        {
          "value": "750",
          "label": "750px"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_btn_blog",
      "label": "Enable Button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_btn_line",
      "label": "Enable Button Line",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_date",
      "label": "Enable Date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_tag",
      "label": "Enable Tag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_comment",
      "label": "Enable comment",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Enable Author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_short",
      "label": "Enable Excerpt",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bgsection",
      "label": "Background Section",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "clsection",
      "label": "Text",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Section Padding "
    },
    {
      "type": "text",
      "id": "paddingsection",
      "label": "Padding Section",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "paddingmobile",
      "label": "Padding Section Mobile",
      "default": "40px 0px 40px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "header",
      "content": "Section Margin "
    },
    {
      "type": "text",
      "id": "marginsection",
      "label": "Margin Section",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginmobile",
      "label": "Margin Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    }
  ],
  "blocks": [
    {
      "type": "post",
      "name": "Featured post",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub Heading",
          "default": "Featured post"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured blog posts",
      "blocks": [
        {
          "type": "post"
        },
        {
          "type": "post"
        }
      ]
    }
  ]
}
{% endschema %}