<!-- featured-collections-5.liquid -->
<style>
  .customstyle{{ section.id }} .collection-card__image .photo-wrapper.square {
    padding-top: 100% !important;
  }
  .customstyle{{ section.id }} .collection-card__image .photo-wrapper.landscape {
    padding-top: 75% !important;
  }
  .customstyle{{ section.id }} .collection-card__image .photo-wrapper.portrait {
    padding-top: 130% !important;
  }
  .customstyle{{ section.id }} .collection-card__image .photo-wrapper.wide {
    padding-top: 60% !important;
  }
  .collection-card__image .photo-wrapper.square img,
  .collection-card__image .photo-wrapper.landscape img,
  .collection-card__image .photo-wrapper.portrait img,
  .collection-card__image .photo-wrapper.wide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .collection-grid {
    {% if section.settings.enable_padding == true %}
      row-gap: var(--g-gutter);
    {% endif %}
  }
  .collection-collage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    {% if section.settings.enable_padding == true %}
      column-gap: var(--g-gutter);
      row-gap: var(--g-gutter);
    {% endif %}
  }

  .collection-collage .collage-item {
    height: 100%;
  }
  .collection-collage .collage-item .hv-image {
    padding: 0 !important;
    {% if section.settings.enable_padding == true %}
      height: 255px;
    {% else %}
      height: calc(255px + var(--g-hgutter));
    {% endif %}
  }
  .collection-collage .collage-item .hv-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .collection-collage.collage-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .collection-collage.collage-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .collection-collage.collage-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  
  @media(min-width:749px) {
    .collection-collage .collage-item-big {
      grid-row: auto / span 2;
    }
    .collection-collage .collage-item-big .hv-image {
      padding: 0 !important;
      height: 540px !important;
    }
    .collection-collage.collage-4 .collage-item-big {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
    }
    .collection-collage.collage-4 .collage-item:nth-child(2) {
      grid-column: 3 / 5;
      grid-row: 1;
    }
    .collection-collage.collage-5 .collage-item-big {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
    }
    .collection-collage.collage-7 {
      grid-template-areas: 
      "a a a c"
      "b b d d";
      grid-template-columns: none;
    }
  
    .collage-7 .collage-item:nth-child(1) {
      grid-area: a;
    }
    .collage-7 .collage-item:nth-child(2) {
      grid-area: c;
    }
    .collage-7 .collage-item:nth-child(3) {
      grid-area: b;
    }
    .collage-7 .collage-item:nth-child(4) {
      grid-area: d;
    }
    .collection-collage.collage-7 .collage-item-big .hv-image, .collection-collage.collage-7 .collage-item .hv-image{
      padding: 0 !important;
      height: 420px !important;
    }
    .collection-collage.collage-7 .collage-item:nth-child(1) .hv-image, .collection-collage.collage-7 .collage-item:nth-child(2) .hv-image{
      padding: 0 !important;
      height: 540px !important;
    }
  }
  @media(max-width:749px) {
    .collection-collage {
      grid-template-columns: auto !important;
      padding: 0 15px;
    }
  }

  .collection-collage .collage-item .collection-card-3 .decor-img.image-left-top,
  .collection-collage .collage-item .collection-card-3 .decor-img.image-bottom-right {
    position: absolute;
    transition: all 0.5s ease;
  }

  .collection-collage .collection-card-3 .decor-img.image-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .collection-grid .collection-card-3 .decor-img {
    position: absolute;
    transition: all 0.5s ease;
    z-index: 10;
    width:280px;
  }
  .collection-grid .collection-card-3 .decor-img.image-bottom-right {
    right: -20%;
    bottom: -20%;
  }
  .collection-grid .collection-card-3 .collection-card__image:hover .image-bottom-right{
    transform: translate(-10%,-10%);
  }

  .collection-grid .collection-card-3 .decor-img.image-left-top {
    left: -20%;
    top: -20%;
  }
  .collection-grid .collection-card-3 .collection-card__image:hover .decor-img.image-left-top{
    transform: translate(10%,10%);
  }

  .collection-grid .collection-card-3 .decor-img.image-bottom-left {
    left: -20%;
    bottom: -20%;
  }
  .collection-grid .collection-card-3 .collection-card__image:hover .decor-img.image-bottom-left {
    transform: translate(10%,-10%);
  }
  .collection-grid .collection-card-3 .decor-img.image-right-top {
    right: -20%;
    top: -20%;
  }
  .collection-grid .collection-card-3 .collection-card__image:hover .decor-img.image-right-top {
    transform: translate(-10%,10%);
  }

  .collection__text-content {
    position: absolute;
    width: 100%;
    opacity: 1;
    z-index: 2;
    padding: 32px;
    height: 100%;
    left:0;
    top:0;
    pointer-events: none;
  }
  .collection__text-content .btn{
    pointer-events: auto;
  }
 
  .collection-grid.collection-collage .decor-img {
    display: block;
    z-index: 10;
  }

  @media only screen and (min-width:750px) {
    .collection__text-content.collection__text-content--vertical-top {
      top: 10%;
      transform: translateY(0);
    }
  
    .collection__text-content.collection__text-content--vertical-bottom {
      top: auto;
      bottom: 10%;
      transform: translateY(0);
      transition: all 0.3s ease-in-out;
    }
  }
  .collection-card__image:hover .hv-image img {
    -ms-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  
  .collection-card__image.rounded-circle:hover .hv-image img {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .collection-card-3 .collection-card__image.rounded-circle {
    transition: all .5s ease;
  }
  .collection-card-3:hover .collection-card__image.rounded-circle {
    -ms-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9);
    transition: all .5s ease;
  }

  .collection-card__image:hover .collection__text-content.collection__text-content--vertical-bottom {
    bottom: 13%;
    transition: all 0.3s ease-in-out;
  }
  .collection__text-content.collection__text-content--vertical-center {
    transition: all 0.3s ease-in-out;
  }
  .collection-card__image:hover .collection__text-content.collection__text-content--vertical-center {
    top: 47%;
    transition: all 0.3s ease-in-out;
  }
  @media only screen and (max-width:989px) {
    .collection-grid .collection-card-3 .decor-img {
      display: none;
    }
  }
</style>
{%-liquid
  assign layout = section.settings.layout
  if layout == 'collage'
    assign class = 'collection-collage collage-2'
  elsif layout == 'collage-3'
    assign class = 'collection-collage collage-3'
  elsif layout == 'collage-4'
    assign class = 'collection-collage collage-4'
  elsif layout == 'collage-5'
    assign class = 'collection-collage collage-5'
  elsif layout == 'collage-6'
    assign class = 'collection-collage collage-6'
  elsif layout == 'collage-7'
    assign class = 'collection-collage collage-7'
  endif
-%}
<div class="customstyle{{ section.id }} " data-aos="{{ section.settings.animation }}">
  {%- render 'style-section' -%}
  <div class="section-block">
    <div class="{{ section.settings.setwidth }}">
      {%- render 'section-heading' -%}
      <div class="collection-grid {{ class }} row {% if section.settings.enable_padding == false %} mx-0 {% endif %}" id="collection-grid-{{ section.id }}">
        {%- for block in section.blocks -%}
          {%-liquid
            assign hex2rgb_hex = block.settings.bg_overlay
            assign opacity = block.settings.opacity_overlay
            assign enable_gradient = block.settings.enable_gradient
            assign color = block.settings.color
            assign position_text = block.settings.position_text
            assign size_text = block.settings.size_text

            case position_text
              when 'top-left'
              assign positiontxt = 'align-items-start justify-content-start'
              when 'top-center'
              assign positiontxt = 'align-items-start justify-content-center text-center'
              when 'top-right'
              assign positiontxt = 'align-items-start justify-content-end text-right'
              when 'mid-left'
              assign positiontxt = 'align-items-center justify-content-start'
              when 'mid-center'
              assign positiontxt = 'align-items-center justify-content-center text-center'
              when 'mid-right'
              assign positiontxt = 'align-items-center justify-content-end text-right'
              when 'bot-left'
              assign positiontxt = 'align-items-end justify-content-start'
              when 'bot-center'
              assign positiontxt = 'align-items-end justify-content-center text-center'
              when 'bot-right'
              assign positiontxt = 'align-items-end justify-content-end text-right'
              else 
              assign positiontxt = 'align-items-end justify-content-start'
            endcase
          -%}

          <div class="collect-grid-{{ block.id }} {% if layout == 'grid' %} {{ section.settings.col }} {%- else -%} collage-item{% endif %} {% if section.settings.enable_padding == false %} px-0 {% endif %} {% if forloop.index == 1 %} collage-item-big {% endif %}{% if forloop.index == 3 and layout == 'collage-3' %} collage-item-big {% endif %} {% if forloop.index == 3 and layout == 'collage-7' %} collage-item-big {% endif %}"
            data-aos="{{ section.settings.animation }}"  
            data-aos-delay="{{ forloop.index | times: 100 }}"
            style="--g-color-heading: {{ color }};--g-font-color-subtop:{{ color }};--color-body-text:{{ color }};">
            <style>
              .collect-grid-{{ block.id }} .item-counts {
                color: var(--g-main);
                position: absolute;
                top: 6px;
                right: -15px;
                font-size: var(--g-font-size-btn);
              }
              .collect-grid-{{ block.id }} .title-collection{
                width: max-content;
                position: relative;
                padding: 15px 0;
              }
              .collect-grid-{{ block.id }} .hv-image::before {
                --color-gradient: {{ hex2rgb_hex.red }}, {{ hex2rgb_hex.green }}, {{ hex2rgb_hex.blue }};
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                {%- if enable_gradient -%}
                  background: linear-gradient(0deg, rgba(var(--color-gradient), {{ opacity }}) 0%, rgba(var(--color-gradient), 0) 70%);
                {%- else -%}
                  background-color: rgb(var(--color-gradient), {{ opacity }});
                {%- endif -%}
               
                transition: opacity 0.35s ease-in-out;
                transition: transform .2s ease-in-out;
              }
              .collect-grid-{{ block.id }} .collection-card__image:hover .hv-image::before {
                --color-gradient: {{ hex2rgb_hex.red }}, {{ hex2rgb_hex.green }}, {{ hex2rgb_hex.blue }};
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                {%- if enable_gradient -%}
                  background: linear-gradient(0deg, rgba(var(--color-gradient), {{ opacity }}) 0%, rgba(var(--color-gradient), 0) 70%);
                {%- else -%}
                  background-color: rgb(var(--color-gradient), {{ opacity }});
                {%- endif -%}
                transition: opacity 0.35s ease-in-out;
                transition: transform .2s ease-in-out;
              }
            </style>
            {%- liquid
                      assign featured_collection = collections[block.settings.collection] 
                      assign featured_image = block.settings.image 
                      assign asset_image = block.settings.asset_image
                      capture current 
                      cycle 1, 2, 3, 4, 5, 6 
                      endcapture 
                      assign collectionTitle = featured_collection.title | default: 'Collection title' 
                    -%}
            <div class="collection-card-3" {{ block.shopify_attributes }}>
              <div class="collection-card__image overflow-hidden position-relative image-content__image-container ">
                <a
                  class="hv-image photo-wrapper image-content__image-wrapper {{ section.settings.size_image_col }}"
                  href="{{ block.settings.button_link | default : '#' }}"
                  {%- if featured_image != blank -%}
                  style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100 }}%;"
                  {%- elsif featured_collection.image != blank -%}
                  style="padding-top:{{ 1 | divided_by: featured_collection.image.aspect_ratio | times: 100 }}%;"
                  {%- else -%}
                  style=""
                  {%- endif -%}>
                  {%- assign img_url = featured_image | image_url: width: 1 | replace: 'width=1', 'width={width}' -%}
                  {%- assign f_img_url = featured_collection.image | image_url: width: 1 | replace: 'width=1', 'width={width}' -%}
                  {%- if featured_image != blank -%}
                    <img
                      class="lazyload scale-in "
                      src="{{ featured_image | image_url: width: 1, height: 1 }}"
                      data-srcset="{{ img_url }}"
                      data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ featured_image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ collectionTitle }}"
                      loading="lazy"
                      width="{{ featured_image.width }}"
                      height="{{ featured_image.height }}">
                  {%- elsif featured_collection.image != blank -%}
                    <img
                      class="lazyload scale-in"
                      src="{{ featured_collection.image | image_url: width: 1, height: 1 }}"
                      data-srcset="{{ f_img_url }}"
                      data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ featured_collection.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ collectionTitle }}"
                      loading="lazy"
                      width="{{ featured_image.width }}"
                      height="{{ featured_image.height }}">

                  {%- else -%}
                    {%- if section.settings.size_image_col == 'auto' -%}
                      {%- assign class = 'placeholder-svg' -%}
                    {%- else -%}
                      {%- assign class = 'placeholder-svg position-absolute' -%}
                    {%- endif -%}
                    {{ 'collection-' | append: current | placeholder_svg_tag: class }}
                  {%- endif -%}

                </a>
                {%- assign text_alignments = block.settings.text_alignments -%}

                {%- if featured_collection != blank -%}
                <div class="m-0 type-onimage position-absolute collection-card__meta w-100 d-flex flex-column h-100 justify-content-center p-4 text-center"></div>

                {%- else -%}
                <div class="d-flex flex-row {{ positiontxt }} image__text-wrap image__text-wrap--desktop collection__text-content ">
                    <div class="d-inline-block  text-{{text_alignments}}">
                        {%- unless block.settings.image_toptitle == blank -%}
                            <p class="subtop" >
                              {{ block.settings.image_toptitle }}
                            </p>
                        {%- endunless -%}
                        {%- unless block.settings.image_title == blank -%}
                        <h3 class="{% if block.settings.button_label != blank %} mb-4 {% endif %} {{ size_text }} " >
                              {{ block.settings.image_title }}
                            </h3>
                        {%- endunless -%}
                        {%- unless block.settings.subheading == blank -%}
                            <div class="mb-5 text-body " >
                              {{ block.settings.subheading }}
                            </div>
                        {%- endunless -%}
                        {% if block.settings.button_label != blank %}
                          <a href="{{ block.settings.button_link }}" class="btn image__btn image__btn{{ block.id }} {{ block.settings.stylebtns }}">
                            <span>{{ block.settings.button_label }}</span>
                          </a>
                        {% endif %}
                    </div>

                </div>
                {%- endif -%}
               

                <!--  asset image -->
                {%-liquid
                  assign asset_position = block.settings.asset_position
                  case asset_position
                  when 'left top'
                    assign position = 'image-left-top'
                  when 'right top'
                    assign position = 'image-right-top'
                  when 'left bottom'
                    assign position = 'image-bottom-left'
                  when 'right bottom'
                    assign position = 'image-bottom-right'
                  endcase
                -%}
                {%- if asset_image != blank -%}
                  {%- capture sizes -%}
                  (min-width: {{ settings.container }}px) {{ settings.container | minus: 100 | divided_by: 1.6667 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                {%- endcapture -%}
                  <div class="decor-img {{ position }}">
                    {{
                      asset_image
                      | image_url: width: 500
                      | image_tag: sizes: sizes, width: asset_image.width, height: asset_image.height
                    }}
                   
                  </div>

                {%- endif -%}

              </div>
              {%- capture count -%}
                {% assign c = featured_collection.products_count | plus: 0 %}
                {{ featured_collection.products_count | default: 0 }}
                {%- if c > 1 -%}
                  {{ 'collections.general.items' | t }}
                {%- else -%}
                  {{ 'collections.general.item' | t }}
                {%- endif -%}
              {%- endcapture -%}
              {%- if featured_collection != blank -%}
              <div class="text-black text-center d-flex justify-content-center align-items-center">
                <h4 class="mb-1 title-collection {{ section.settings.size_title }}" style="font-family: var(--g-font-2)">
                  <a class="" href="{{ featured_collection.url | default : '#' }}">
                    {{ collectionTitle }}
                  </a>
                  <span class="item-counts ">{{ featured_collection.products_count | default: 0 }}</span>
                </h4>
              </div>
            {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
      {%- if section.blocks.size == 0 -%}
        {%- render 'no-blocks' -%}
      {%- endif -%}
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Banner Decor",
    "class": "index-section",
    "max_blocks": 10,
    "settings": [
      {
        "type": "select",
        "id": "animation",
        "options": [
          {
            "value": "",
            "label": "None"
          },
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "fade-up",
            "label": "Fade Up"
          },
          {
            "value": "fade-down",
            "label": "Fade Down"
          }, {
            "value": "fade-left",
            "label": "Fade Left"
          }, {
            "value": "fade-right",
            "label": "Fade Right"
          }, {
            "value": "fade-up-right",
            "label": "Fade Up Right"
          }, {
            "value": "fade-up-left",
            "label": "Fade Up Left"
          }, {
            "value": "fade-down-right",
            "label": "Fade Down Right"
          }, {
            "value": "fade-down-left",
            "label": "Fade Down Left"
          }, {
            "value": "flip-up",
            "label": "Flip Up"
          }, {
            "value": "flip-down",
            "label": "Flip Down"
          }, {
            "value": "flip-left",
            "label": "Flip Left"
          }, {
            "value": "flip-right",
            "label": "Flip Right"
          }, {
            "value": "slide-up",
            "label": "Slide Up"
          }, {
            "value": "slide-down",
            "label": "Slide Down"
          }, {
            "value": "slide-left",
            "label": "Slide Left"
          }, {
            "value": "slide-right",
            "label": "Slide Right"
          }, {
            "value": "zoom-in",
            "label": "Zoom In"
          }, {
            "value": "zoom-in-up",
            "label": "Zoom In Up"
          }, {
            "value": "zoom-in-down",
            "label": "Zoom In Down"
          }, {
            "value": "zoom-in-left",
            "label": "Zoom In Left"
          }, {
            "value": "zoom-in-right",
            "label": "Zoom In Right"
          }, {
            "value": "zoom-out",
            "label": "Zoom Out"
          }, {
            "value": "zoom-out-up",
            "label": "Zoom Out Up"
          }, {
            "value": "zoom-out-down",
            "label": "Zoom Out Down"
          }, {
            "value": "zoom-out-left",
            "label": "Zoom Out Feft"
          }, {
            "value": "zoom-out-right",
            "label": "Zoom Out Right"
          }
        ],
        "label": "Select Animation"
      },
      {
        "type": "select",
        "id": "setwidth",
        "label": "Full Width",
        "default": "container",
        "options": [
          {
            "value": "container",
            "label": "Box"
          }, {
            "value": "container-fluid",
            "label": "Container Fluid"
          }, {
            "value": "full",
            "label": "Full"
          }
        ]
      },
      {
        "type": "color",
        "id": "bgsection",
        "label": "Background Section",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "title_top",
        "label": "Sub Title Top",
        "default": "Sub Title Top"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Collection list"
      }, {
        "type": "textarea",
        "id": "des",
        "label": "HTML / Description"
      }, {
        "type": "select",
        "id": "align-heading",
        "label": "Align Heading",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          }, {
            "value": "left",
            "label": "Left"
          }, {
            "value": "right",
            "label": "Right"
          }
        ]
      }, {
        "type": "header",
        "content": "Item"
      },{
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "info": "Collage mode only affects desktop, and will adapt based on number of items.",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "collage",
            "label": "Collage 2 Columns"
          },
          {
            "value": "collage-3",
            "label": "Collage 3 Columns"
          },
          {
            "value": "collage-4",
            "label": "Collage 2 Columns 2"
          }, {
            "value": "collage-5",
            "label": "Collage 2 Columns 4"
          }, {
            "value": "collage-6",
            "label": "Collage 3 Columns 1"
          }, {
            "value": "collage-7",
            "label": "Collage 4 Columns 2"
          }
        ]
      }, {
        "type": "select",
        "id": "col",
        "label": "Width Column",
        "default": "col-lg-3",
        "info": "Only work with grid",
        "options": [
          {
            "value": "col-1-5",
            "label": "5"
          }, {
            "value": "col-lg-3",
            "label": "4"
          }, {
            "value": "col-lg-4",
            "label": "3"
          }, {
            "value": "col-lg-6",
            "label": "2"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "enable_padding",
        "label": "Enable Padding",
        "default": true
      }, {
        "type": "select",
        "id": "size_image_col",
        "label": "Size Image Collection",
        "default": "auto",
        "options": [
          {
            "value": "auto",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          }, {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      },{
        "type": "header",
        "content": "Section Padding "
      }, {
        "type": "text",
        "id": "paddingsection",
        "label": "Padding Section",
        "default": "0px 0px 0px 0px",
        "info": "Padding: Top Right Bottom Left"
      }, {
        "type": "text",
        "id": "paddingmobile",
        "label": "Padding Section Mobile",
        "default": "40px 0px 40px 0px",
        "info": "Padding: Top Right Bottom Left"
      }, {
        "type": "header",
        "content": "Section Margin "
      }, {
        "type": "text",
        "id": "marginsection",
        "label": "Margin Section",
        "default": "0px 0px 0px 0px",
        "info": "Margin: Top Right Bottom Left"
      }, {
        "type": "text",
        "id": "marginmobile",
        "label": "Margin Mobile",
        "default": "0px 0px 0px 0px",
        "info": "Margin: Top Right Bottom Left"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "asset_image",
            "type": "image_picker",
            "label": "Image Asset for Effect"
          },
          {
            "id": "asset_position",
            "type": "select",
            "label": "Choose position for Image Asset",
            "options": [
              {
                "label": "Top left",
                "value": "left top"
              }, {
                "label": "Top right",
                "value": "right top"
              }, {
                "label": "Bottom left",
                "value": "left bottom"
              }, {
                "label": "Bottom right",
                "value": "right bottom"
              }
            ]
          },
          {
            "type": "color",
            "id": "color",
            "label": "Color",
            "default": "#ffffff"
          }, {
            "type": "checkbox",
            "id": "enable_gradient",
            "label": "Enable Gradient",
            "default": false
          }, {
            "type": "color",
            "id": "bg_overlay",
            "label": "Background Overlay",
            "default": "#222222"
          }, {
            "type": "range",
            "id": "opacity_overlay",
            "label": "Opacity Overlay",
            "max": 1,
            "min": 0,
            "step": 0.1,
            "unit": " %",
            "default": 0.2
          },
          {
      "type": "select",
      "id": "position_text",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "mid-left",
          "label": "Midle Left "
        },
        {
          "value": "mid-center",
          "label": "Midle Center "
        },
        {
          "value": "mid-right",
          "label": "Midle Right "
        },
        {
          "value": "bot-left",
          "label": "Bottom Left "
        },
        {
          "value": "bot-center",
          "label": "Bottom Center "
        },
        {
          "value": "bot-right",
          "label": "Bottom Right "
        }
      ],
      "default": "mid-center",
      "label": "Text Position"
    }, {
            "type": "select",
            "id": "text_alignments",
            "label": "Text alignments",
            "default": "left",
            "options": [
              {
                "label": "Left",
                "value": "left"
              }, {
                "label": "Right",
                "value": "right"
              }, {
                "label": "Center",
                "value": "center"
              }
            ]
          }, {
            "type": "text",
            "id": "image_toptitle",
            "label": "Top Title",
            "default": "Top Title"
          }, {
            "type": "text",
            "id": "image_title",
            "label": "Heading",
            "default": "Heading"
          }, 
          {
          "type": "select",
          "id": "size_text",
          "default": "h3",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "label": "Heading Size"
        },{
            "type": "textarea",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your brand's story through images"
          },{
            "type": "header",
            "content": "Button "
          }, {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }, {
            "type": "select",
            "id": "stylebtns",
            "label": "Style Button",
            "default": "btn-underline btn-underline-white",
            "options": [
              {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner Decor",
        "blocks": [
          {
            "type": "item"
          }, {
            "type": "item"
          }, {
            "type": "item"
          }, {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}