{%- liquid
assign scroll_type = section.settings.scroll_type
assign speed = section.settings.speed
-%}
<style>
  .customstyle{{ section.id }}{
    background: {%- if section.settings.gradient_bg != blank -%}
      {{ section.settings.gradient_bg }}
    {%- else -%}
      {{ section.settings.background }}
    {%- endif -%};
  }

  .gallery-scroll {
    grid: auto / auto-flow max-content;
    justify-content: center;
    display: grid;
    overflow: hidden;
    margin: 0 30px;
  }
  .galleryscroll-item {
    grid: auto / auto-flow auto max-content;
    place-items: center;
    display: grid;
    animation-duration: {{ speed }}s;
  }
  .gallery-carousel-wrapper.portrait{
    padding-top: 120% !important;
    overflow: hidden;
  }
  .gallery-carousel-wrapper.square{
    padding-top: 100% !important;
    overflow: hidden;
  }
  .gallery-carousel-wrapper.landscape{
    padding-top: 75% !important;
    overflow: hidden;
  }
  .gallery-carousel-wrapper.wide{
    padding-top: 56% !important;
    overflow: hidden;
  }
  .gallery-carousel-wrapper .image-content__image {
    margin-right: var(--g-gutter);
    max-width:350px;
  }
  .gallery-carousel-wrapper .image-content__image:first-child {
    margin-bottom: var(--g-gutter);
    
  }
</style>
{%- render 'style-section' -%}
<!-- scrolling-text.liquid -->
<div class="scroling-section customstyle{{ section.id }}" >
  {%- render 'section-heading' -%}
  <div class="gallery-scroll">
    {%- for i in (1..10) -%}
      <span class="galleryscroll-item d-flex {% if scroll_type == 'from-left' %} anim-loop-left {% else %} anim-loop-right {% endif %}">
        {%- for block in section.blocks -%}
          <span class="mb-0 d-flex align-items-center gallery-carousel-wrapper flex-column" data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 50 }}">
            {% if block.settings.image_1 != blank %}
              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.container }}px) {{ settings.container | minus: 100 | divided_by: 1.6667 }}px,
              (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
            {%- endcapture -%}
                {{
                  block.settings.image_1
                  | image_url: width: 600
                  | image_tag: sizes: sizes, widths: widths, class: "image-content__image "
                }}
              {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if block.settings.image_2 != blank %}
              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
              {%- capture sizes -%}
              (min-width: {{ settings.container }}px) {{ settings.container | minus: 100 | divided_by: 1.6667 }}px,
              (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
            {%- endcapture -%}
                {{
                  block.settings.image_2
                  | image_url: width: 600
                  | image_tag: sizes: sizes, widths: widths, class: "image-content__image"
                }}
              {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </span>
        {%- endfor -%}
      </span>
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "Scrolling Gallery",
    "settings": [
      {
        "type": "select",
        "id": "animation",
        "options": [
          {
            "value": "",
            "label": "None"
          },
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "fade-up",
            "label": "Fade Up"
          },
          {
            "value": "fade-down",
            "label": "Fade Down"
          }, {
            "value": "fade-left",
            "label": "Fade Left"
          }, {
            "value": "fade-right",
            "label": "Fade Right"
          }, {
            "value": "fade-up-right",
            "label": "Fade Up Right"
          }, {
            "value": "fade-up-left",
            "label": "Fade Up Left"
          }, {
            "value": "fade-down-right",
            "label": "Fade Down Right"
          }, {
            "value": "fade-down-left",
            "label": "Fade Down Left"
          }, {
            "value": "flip-up",
            "label": "Flip Up"
          }, {
            "value": "flip-down",
            "label": "Flip Down"
          }, {
            "value": "flip-left",
            "label": "Flip Left"
          }, {
            "value": "flip-right",
            "label": "Flip Right"
          }, {
            "value": "slide-up",
            "label": "Slide Up"
          }, {
            "value": "slide-down",
            "label": "Slide Down"
          }, {
            "value": "slide-left",
            "label": "Slide Left"
          }, {
            "value": "slide-right",
            "label": "Slide Right"
          }, {
            "value": "zoom-in",
            "label": "Zoom In"
          }, {
            "value": "zoom-in-up",
            "label": "Zoom In Up"
          }, {
            "value": "zoom-in-down",
            "label": "Zoom In Down"
          }, {
            "value": "zoom-in-left",
            "label": "Zoom In Left"
          }, {
            "value": "zoom-in-right",
            "label": "Zoom In Right"
          }, {
            "value": "zoom-out",
            "label": "Zoom Out"
          }, {
            "value": "zoom-out-up",
            "label": "Zoom Out Up"
          }, {
            "value": "zoom-out-down",
            "label": "Zoom Out Down"
          }, {
            "value": "zoom-out-left",
            "label": "Zoom Out Feft"
          }, {
            "value": "zoom-out-right",
            "label": "Zoom Out Right"
          }
        ],
        "label": "Select Animation"
      },
      {
        "type": "header",
        "content": "Auto - Scrolling",
        "info": "This config only work with Auto - Scrolling"
      }, {
        "type": "range",
        "id": "speed",
        "label": "Scrolling Speed",
        "unit": "s",
        "min": 50,
        "max": 100,
        "step": 1,
        "default": 100,
        "info": "Auto - Scrolling"
      }, {
        "type": "select",
        "id": "scroll_type",
        "default": "from-right",
        "options": [
          {
            "value": "from-left",
            "label": "From Left"
          }, {
            "value": "from-right",
            "label": "From Right"
          }
        ],
        "label": "Scroll Animation",
        "info": "Auto - Scrolling"
      }, {
        "type": "header",
        "content": "Color",
        "info": "Background, Color"
      }, {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#000000"
      }, {
        "id": "gradient_bg",
        "type": "color_background",
        "label": "Background Gradient"
      },
      {
        "type": "text",
        "id": "title_top",
        "label": "Sub Title Top",
        "default": "Sub Title Top"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "select",
        "id": "align-heading",
        "label": "Align Heading",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Padding "
      }, {
        "type": "text",
        "id": "paddingsection",
        "label": "Padding Section",
        "default": "0px 0px 0px 0px",
        "info": "Padding: Top Right Bottom Left"
      }, {
        "type": "text",
        "id": "paddingmobile",
        "label": "Padding Section Mobile",
        "default": "40px 0px 40px 0px",
        "info": "Padding: Top Right Bottom Left"
      }, {
        "type": "header",
        "content": "Section Margin "
      }, {
        "type": "text",
        "id": "marginsection",
        "label": "Margin Section",
        "default": "0px 0px 0px 0px",
        "info": "Margin: Top Right Bottom Left"
      }, {
        "type": "text",
        "id": "marginmobile",
        "label": "Margin Mobile",
        "default": "0px 0px 0px 0px",
        "info": "Margin: Top Right Bottom Left"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          }, {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Scrolling Gallery",
        "blocks": [
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}