<!-- grid-banner.liquid -->

<style>
  {%- if section.settings.show_overlay %}
    {% assign hex2rgb_hex = section.settings.bg_overlay %}
    .customstyle{{ section.id }} .banner-theme .banner-overlay{
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left: 0;
      {%- if section.settings.gradient_overlay -%}
        background:linear-gradient(180deg, rgb({{ hex2rgb_hex.red }}, {{ hex2rgb_hex.green }}, {{ hex2rgb_hex.blue }}, 0) 0%, rgb({{ hex2rgb_hex.red }}, {{ hex2rgb_hex.green }}, {{ hex2rgb_hex.blue }},{{ section.settings.opacity_overlay }}) 100%);
      {%- else -%}
        background-color: rgb({{ hex2rgb_hex.red }}, {{ hex2rgb_hex.green }}, {{ hex2rgb_hex.blue }}, {{ section.settings.opacity_overlay }});
      {%- endif -%}
      opacity: 1;
      z-index: 1;
    }
 
  {%- endif -%}
  .block-subtop {
    background-color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  {%- if section.settings.e_hover_eff -%}
    @media only screen and (min-width: 750px) {
      .customstyle{{ section.id }} .banner-theme:hover img {
        transform: scale(1.08);
      }
    }
  {%-  else %}
    @media only screen and (min-width: 750px) {
      .customstyle{{ section.id }} .banner-theme:hover img {
        transform: none;
      }
    }
  {%- endif -%}


  .countdown-item ul li:not(:last-child){
  border-right:1px solid  rgba(var(--cd-color),0.2);
}
.countdown-item ul li {
  padding:0 16px;
  line-height:1;
  text-align:center;
  position: relative;
}
.countdown-item ul li:not(:last-child)::after {
  content: "";
  position: absolute;
    top: 50%;
    right: -2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #de9076;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.countdown-item ul li .countdown-time{
  font-size:var(--g-h3-font-size);
  margin-bottom:0.3rem;
  min-width:64px;
  text-align:center;
  display: block;
}
.countdown-item ul li .countdown-time b{
  font-weight:500;
}
.countdown-item ul li .countdown-text{
  font-size: .75rem;
  letter-spacing: 1.7px;
  text-transform:uppercase;
  display:block;
}
@media (max-width:749px){
.countdown-item ul li .countdown-time{
  font-size:calc(var(--g-h3-font-size) - 8px);
  min-width:max-content;
}
}
</style>

<div class="customstyle{{ section.id }}" data-aos="{{ section.settings.animation }}" >
  {%- render 'style-section' -%}
<div class="{{ section.settings.setwidth }}">
  <div class="section-block">
    {%- render 'section-heading' -%}
    <div class="row {% if section.settings.no_gutter %}no-gutters{% endif %}">
      {%- for block in section.blocks -%}
      {%- assign text_color = block.settings.colordef -%}
      {%- assign heading_color = block.settings.colorhead -%}

      <div class="col-md-{{ block.settings.width }}" {{ block.shopify_attributes }} data-aos="{{ section.settings.animation }}" data-aos-delay="{{ forloop.index | times: 100 }}" style="margin: {{ block.settings.marginsection }};">
        <figure class="mb-4 mb-lg-0 banner-theme hv-image-saturate banner-theme-{{ block.settings.vertical }} banner-theme-{{ block.settings.horizontal }} text-{{ block.settings.text_align }} {% if section.settings.no_gutter %}m-0{% endif %} banner-theme-{{ block.id }}"
        style="{% if text_color != 'transparent' %}
          --g-font-color-subtop: {{ text_color }};
          --g-color-heading :  {{ heading_color }};
          --color-body-text : {{ text_color }};
          --color-body-text-rgb: {{ text_color.red }}, {{ text_color.green }},  {{ text_color.blue }} ;
        {% endif %}
        --g-figcaption-des: {{ block.settings.bg_color }};
        --g-figcaption-op: {{ block.settings.opacity_bg }};"
      >
          {%- if block.settings.image != blank -%}
          <img 
            src="{{ block.settings.image | image_url: width: 1, height: 1 }}" 
            class="lazyload transition scale-in {% if block.settings.image_mobile != blank %} d-none d-lg-block {% endif %}" 
            data-src="{{ block.settings.image | image_url: width: 1920 }}"
            loading="lazy"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.height }}">
            {%- if block.settings.image_mobile != blank -%}
            <img 
              src="{{ block.settings.image_mobile | image_url: width: 1, height: 1 }}" 
              class="lazyload transition  {% if block.settings.image_mobile != blank %} d-lg-none {% endif %}" 
              data-src="{{ block.settings.image_mobile | image_url: width: 1920 }}"
              loading="lazy"
              width="{{ block.settings.image_mobile.width }}"
              height="{{ block.settings.image_mobile.height }}">
            {%- endif -%}
          <a class="banner-overlay" href="{{ block.settings.button_link | default: "#" }}"></a>
          {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
          <figcaption class="figcaption--{{ block.id }} hv-eff">
            <style>
              .figcaption--{{ block.id }} .subtop {
                text-align: center;
                display: flex;
                justify-content: center;
              }
            </style>
              <div class="position-relative">
                <div class="bg-des"></div>
                <div class="position-relative {% if block.settings.opacity_bg > 0 %} p-5 {% endif %}" style="z-index: 3;">
                  {%- if block.settings.subtitle != blank -%}
                    <div class="subtop mb-3"><span class="{% if block.settings.e_circle_subtop %} block-subtop{% endif %}">{{ block.settings.subtitle }}</span></div>
                  {%- endif -%}
                  {%- if block.settings.title != blank -%}
                    <h3 class="mb-3 {{ block.settings.size_text }}">{{ block.settings.title }}</h3>
                  {%- endif -%}
                  {%- if block.settings.description -%}
                    <div class="rte-setting mb-3 txt-body">{{ block.settings.description }}</div>
                  {%- endif -%}
                  {%- if block.settings.e_countdown-%}
                  <div class="js-countdown countdown-item mb-3" data-time="{{ block.settings.data_countdown }}"></div>
                  {%- endif -%}
                  {%- if block.settings.button_text != blank -%}
                    <div class="pt-1">
                      <a href="{{ block.settings.button_link }}" class="btn {{ block.settings.style_btn }} ">
                        {{ block.settings.button_text }}
                      </a>
                    </div>
                    {%- endif -%}
                </div>
              </div>
          </figcaption>		
        </figure>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>
</div>

{% schema %}
{
  "name": "Grid banner",
  "class": "index-section",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Feft"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "bgsection",
      "label": "Background Section",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title_top",
      "label": "Sub Title Top",
      "default": "Sub Title Top"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Grid banner"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "type": "select",
      "id": "align-heading",
      "label": "Align Heading",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "e_hover_eff",
      "label": "Enable Scale Image on hover",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "no_gutter",
      "label": "No gutters",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show overlay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gradient_overlay",
      "label": "Gradient overlay",
      "default": true
    },
    {
      "type": "color",
      "id": "bg_overlay",
      "label": "Background Overlay",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "opacity_overlay",
      "label": "Opacity Overlay",
      "max": 1,
      "min": 0,
      "step": 0.1,
      "unit": " op",
      "default": 0.4
    },
    {
      "type": "header",
      "content": "Section Padding "
    },
    {
      "type": "text",
      "id": "paddingsection",
      "label": "Padding Section",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "paddingmobile",
      "label": "Padding Section Mobile",
      "default": "40px 0px 40px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "header",
      "content": "Section Margin "
    },
    {
      "type": "text",
      "id": "marginsection",
      "label": "Margin Section",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginmobile",
      "label": "Margin Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "6",
          "options": [
            {
              "value": "2",
              "label": "16.67%"
            },
            {
              "value": "3",
              "label": "25%"
            },
            {
              "value": "4",
              "label": "33.33%"
            },
            {
              "value": "5",
              "label": "41.67%"
            },
            {
              "value": "6",
              "label": "50%"
            },
            {
              "value": "7",
              "label": "58.33%"
            },
            {
              "value": "8",
              "label": "66.67%"
            },
            {
              "value": "9",
              "label": "75%"
            },
            {
              "value": "10",
              "label": "83.33%"
            },
            {
              "value": "12",
              "label": "100%"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Title",
          "default": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "checkbox",
          "id": "e_circle_subtop",
          "default": false,
          "label": "Circle Subtop"
        },
        {
          "type": "select",
          "id": "size_text",
          "default": "h2",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "label": "Heading Size"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "HTML / Description",
          "default": "<p>Lorem ipsum dolor sit amet</p>"
        },
        {
          "type": "checkbox",
          "id": "e_countdown",
          "default": false,
          "label": "Enbble CountDown Timer"
        },
        {
          "type": "text",
          "id": "data_countdown",
          "label": "Time count down",
          "default": "2025-05-11T00:00:00",
          "info": "2025-05-11T00:00:00"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Description",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "colorhead",
          "label": "Color Heading ",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "colordef",
          "label": "Color Description ",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "opacity_bg",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "unit": "opa",
          "label": "Opacity Background",
          "default": 0
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-underline btn-underline-white",
          "options": [
            {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "View more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "vertical",
          "label": "Vertical align",
          "default": "bottom",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "mid",
              "label": "Mid"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "horizontal",
          "label": "Horizontal align",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text align",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "marginsection",
          "label": "Margin Section",
          "default": "0px 0px 0px 0px",
          "info": "Margin: Top Right Bottom Left"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid banner",
      "category": "Image",
      "blocks": [
        {
          "type": "banner"
        },
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}