<!-- image-content-5.liquid -->
<style>
  .layout-dynamic .subtop, .layout-dynamic .section-title-1{
    text-align: left !important;
  }
</style>
<div class="customstyle{{ section.id }} layout-dynamic" data-aos="{{ section.settings.animation }}">
    {%- render 'style-section' -%}
  <div class="{{ section.settings.setwidth }}">
    <div class="section-block">
      <div class="row d-block clearfix">
        <div class="layout-dynamic--item col-title" data-aos="{{ section.settings.animation }}" data-aos-duration="800" >
            {%- render 'section-heading' -%}
        </div>
        {%- for block in section.blocks -%}
          <div class="layout-dynamic--item" {{ block.shopify_attributes }} data-aos="{{ section.settings.animation }}" data-aos-duration="1000">
                <div>
                  
                   
                    <div class="image-content__image-container">
                      {%- if block.settings.image != blank -%}
                      <noscript>
                        <img src="{{ block.settings.image | image_url: width: 600 }}" alt="{{ block.settings.image.alt }}" class="image-content__image"
                          loading="lazy"
                          width="{{ block.settings.image.width }}"
                          height="{{ block.settings.image.height }}">
                      </noscript>
                      <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                        {% assign img_url = block.settings.image | image_url: width: 1 | replace: 'width=1', 'width={width}' %}
                        
                        {%- if block.settings.linkimage != blank -%}<a href="{{block.settings.linkimage}}"> {%- endif -%}
                        <img class="image-content__image lazyload scale-in"
                          src="{{ block.settings.image | image_url: width: 300, height: 300 }}"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                          data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                          data-sizes="auto"
                          alt="{{ block.settings.image.alt | escape }}"
                          loading="lazy"
                          width="{{ block.settings.image.width }}"
                          height="{{ block.settings.image.height }}">
                          {%- if block.settings.linkimage != blank -%}</a>{%- endif -%}
                      </div>
                      {%- else -%}
                        <div class="image-content__image">
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                      
                      {%- endif -%}
                      <div class="py-3">
                        {% if block.settings.subtitle != blank %}
                        <div class="mb-2 subtop" data-aos="{{ section.settings.animation }}" data-aos-duration="450">{{ block.settings.subtitle }}</div>
                        {% endif %}
                        {% if  block.settings.title != blank %}
                        <div class="mb-3 {{ block.settings.size_text }}" data-aos="{{ section.settings.animation }}" data-aos-duration="650">{{ block.settings.title }}</div>
                        {% endif %}
                        {% if block.settings.text != blank  %}
                          <div class="rte-setting " data-aos="{{ section.settings.animation }}" data-aos-duration="850">{{ block.settings.text }}</div>
                        {% endif %}
                        {%- if block.settings.button != blank -%}
                          <div class="mt-5">
                            <a href="{{ block.settings.link }}" class="btn {{ block.settings.style_btn }}">
                              {{ block.settings.button }}
                            </a>
                          </div>
                      {%- endif -%}
                      </div>
                    </div>
                  
                </div>
          </div>
        {%- endfor -%}
      </div>
  
      {%- if section.blocks.size == 0 -%}
        {%- render 'no-blocks' -%}
      {%- endif -%}
    </div>
  </div>
  </div>
  
  
  {% schema %}
{
  "name": "Image with text style 5",
  "class": "index-section",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Feft"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "color",
      "id": "bgsection",
      "label": "Background Section",
      "default": "#ffffff"
    },
   
    {
      "type": "text",
      "id": "title_top",
      "label": "Sub Title Top",
      "default": "Sub Title Top"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Custom content"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "type": "header",
      "content": "Section Padding "
    },
    {
      "type": "text",
      "id": "paddingsection",
      "label": "Padding Section",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "paddingmobile",
      "label": "Padding Section Mobile",
      "default": "40px 0px 40px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "header",
      "content": "Section Margin "
    },
    {
      "type": "text",
      "id": "marginsection",
      "label": "Margin Section",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginmobile",
      "label": "Margin Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "linkimage",
          "label": "Image link to"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub Heading",
          "default": "Image with text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "size_text",
          "default": "h4",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "label": "Heading Size"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "HTML / Description",
          "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button text",
          "default": "discover now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-theme",
          "options": [
            {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text style 5",
      "category": "Image",
      "blocks": [
        {
          "type": "image_block"
        },
        {
          "type": "image_block"
        }
      ]
    }
  ]
}
{% endschema %}
  