<style>
    {%- assign color = section.settings.color -%}
    .customstyle{{ section.id }}{
        --color-body-text: {{ color }};
        --g-color-heading: {{ color }};
        --g-font-color-subtop: {{ color }};
        --color-body-text-rgb : {{ color.red }}, {{ color.green }}, {{ color.blue }};
    }
</style>
<div class="customstyle{{ section.id }} " data-aos="{{ section.settings.animation }}" >
  {%- render 'style-section' -%}
  <div class="{{ section.settings.setwidth }}">
    <div class="row">
      <div class="col-lg-4 col-12">
        {%- if section.settings.title_top != blank -%}
            <div class="subtop text-left text-top" data-aos="{{ section.settings.animation }}" data-aos-duration="300">{{ section.settings.title_top }}</div>
          {%- endif -%}
          {%- if section.settings.title != blank -%}
          <h3 class="section-title-1 text-left  {% if section.settings.des != blank %} mb-2 {% else %} mb-5 mb-lg-0 {% endif %}" data-aos="{{ section.settings.animation }}" data-aos-duration="500">
            <span>{{ section.settings.title }}</span>
          </h3>
          {%- endif -%}
          {%- if section.settings.des != blank -%}
          <div class="text-left font-family-2 mb-5 txt-body" data-aos="{{ section.settings.animation }}" data-aos-duration="800">{{ section.settings.des }}</div>
          {%- endif -%}
      </div>
      <div class="col-lg-8 col-12">
        <div class="d-flex flex-wrap pl-lg-4">
        {%- for block in section.blocks -%}
            {%- if block.settings.button_text != blank -%}
                <a class="btn btn-sm {{ section.settings.style_btn }} mr-3 mb-3 d-flex align-items-center" href="{{ block.settings.button_link | default: "#" }}"> {{ block.settings.button_text }} <i class="ml-2 small icon-arrow-right"></i></a>
            {%- endif -%}
        {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
  {% schema %}
{
  "name": "List Collection Button",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Feft"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bgsection",
      "label": "Background Section",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title_top",
      "label": "Sub Title Top",
      "default": "Sub Title Top"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collection list"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "type": "header",
      "content": "Button "
    },
    {
      "type": "select",
      "id": "style_btn",
      "label": "Style Button",
      "default": "btn-theme btn-white",
      "options": [
        {
          "value": "btn-theme",
          "label": "Button Box"
        },
        {
          "value": "btn-theme btn-white",
          "label": "Button Box White"
        },
        {
          "value": "btn-underline",
          "label": "Button Line"
        },
        {
          "value": "btn-underline btn-underline-white",
          "label": "Button Line White"
        },
        {
          "value": "btn-outline",
          "label": "Button Outline"
        },
        {
          "value": "btn-outline btn-outline-white",
          "label": "Button Outline White"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Padding "
    },
    {
      "type": "text",
      "id": "paddingsection",
      "label": "Padding Section",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "paddingmobile",
      "label": "Padding Section Mobile",
      "default": "40px 0px 40px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "header",
      "content": "Section Margin "
    },
    {
      "type": "text",
      "id": "marginsection",
      "label": "Margin Section",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginmobile",
      "label": "Margin Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link to"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "List Collection Button",
      "blocks": [
        {
          "type": "button"
        },
        {
          "type": "button"
        },
        {
          "type": "button"
        },
        {
          "type": "button"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}